{% extends 'firstapp/base.html' %}

{% block body %}
    <h1>This is index page</h1>
  <a href="/contact">
      Contact
  </a>
  |
  <a href="/about">
      About
  </a>
    <hr>
    <table class="container">
        <tr>
          <th>Sr. no.</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>{{text}}</p>

    <br>
    <h1>Vegitables</h1>
    <table class="container">
      <tr>
        <th>Sr. no.</th>
        <th>Vegetable Name</th>
        <th>Availability</th>
      </tr>
      {% for vegeis in vegetables %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{vegeis}}</td>        
        <td {% if vegeis not in available_veg %} style="background: red;" {% endif %}>
          {% if vegeis in available_veg %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>        
      </tr>
      {% endfor %}
  </table>
{% endblock %}