{% extends 'firstapp/base.html' %}

{% block body %}
<div class="container mt-5">
    <h1>{{page}}</h1>
    <hr>
    <div class="mt-5">
        <div class="mx-auto col-6"> 
            <form action="">
                <div class="mb-3">
                    <label for="exampleInput" class="form-label">Search Food</label>
                    <input type="text" name="search" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        
        <div align="right"><a href ="/reciepe" class='btn btn-success'>ADD NEW</a>
        </div>
    </div>
    
    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Receipe Name</th>
            <th scope="col">Receipe Description</th>
            <th scope="col">Receipe Posts On</th>
            <th scope="col">Receipe Image</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for receipe in receipes %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>{{receipe.created_at}}</td>
            <td>
                <img src="/static/{{receipe.receipe_image}}" style="height: 100px;" alt="">
            </td>
            <td>
                <a href ="/reciepe/editreciepe/{{receipe.id}}" class='btn btn-primary m-2'>
                    Edit
                </a>
                
                <a href ="/reciepe/deletereciepe/{{receipe.id}}" class="btn btn-danger">
                    Delete
                </a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>    
</div>

{% endblock %}